    body {
      margin: 0;
      height: 100vh;
      background-color: #0ff; /* jasny cyjan */
    }

.center {
    margin: center;
    text-align: center;
    bottom: 0px;
    text-rendering: auto;
}